<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
<!--  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata />
        </behavior>
        </serviceBehaviors>
    </behaviors>
    <services>
      <service name="theDiary.EasyDNS.Windows.Service.WCFServices.DNSService" behaviorConfiguration="mexBehaviour">
        <endpoint address="DNSService" binding="netTcpBinding" contract="theDiary.EasyDNS.Windows.Service.WCFServices.IDNSService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/EasyDNS"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->
</configuration>