<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <!--<system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDNSService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/DNSService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDNSService" contract="DNSService.IDNSService"
                name="NetTcpBinding_IDNSService">
                <identity>
                    <userPrincipalName value="JONATHANS-PC\pries" />
                </identity>
            </endpoint>
        </client>
          </system.serviceModel>-->
</configuration>